<h1>Matériel en attente de retour</h1>
<p>Bonjour {{ commande.user.firstName }},</p>
<p>Nous espérons que vous avez apprécié votre prestation Vite & Gourmand.</p>
<p>Nous vous informons que votre commande du {{ commande.dateLivraison|date('d/m/Y') }} comportait du matériel qui vous a été prêté.</p>
<p>Conformément à nos Conditions Générales de Vente, nous vous prions de bien vouloir restituer ce matériel.</p>
<p style="color: red; font-weight: bold;">
    Attention : Si le matériel n'est pas restitué sous 10 jours ouvrés, une pénalité de 600 euros vous sera facturée.
</p>
<p>Pour organiser le retour du matériel, merci de prendre contact avec notre société au plus vite.</p>
<p>L'équipe Vite & Gourmand</p>
