<!DOCTYPE html>
<html lang="fr">
<body>
    <h1>Votre commande est terminée !</h1>
    <p>Bonjour {{ commande.user.firstName }},</p>
    <p>Votre commande <strong>#VG-{{ commande.id }}</strong> ({{ commande.menu.titre }}) est maintenant terminée.</p>
    <p>Nous espérons que vous avez passé un excellent moment. Votre avis nous tient à cœur !</p>
    <p>Connectez-vous à votre espace personnel pour laisser une note et un commentaire sur cette commande.</p>
    <p>Merci pour votre confiance.<br>L'équipe Vite &amp; Gourmand</p>
</body>
</html>
