<!DOCTYPE html>
<html lang="fr">
<body>
    <h1>Bienvenue chez Vite & Gourmand !</h1>
    <p>Bonjour {{ user.firstName }},</p>
    <p>Votre compte a bien été créé.</p>
    <p>Vous pouvez dès maintenant :</p>
    <ul>
        <li>Passer commande en quelques clics</li>
        <li>Suivre vos commandes depuis votre espace personnel</li>
    </ul>
    <p>À très bientôt<br>L'équipe Vite &amp; Go.urmand</p>
</body>
</html>
